<div id="meArea">
    <img src="assets/aboutMe.png">

    <ul class="slideshow-container tree-view" id="slides">
        <div class="mySlides" >
            <h1> Who am I? </h1>
            <p>
            I see myself as the silent force and the dictator of mij
            own work when it comes to development. I have a lot of fun
            typing code for hours on end and have ,over the years,
            experienced how many people see me as someone who can code well.
            <br> <br>
            From my grades to the support I offer others
            students I find myself completely at home in this field. But
            in real life I am not always open about this. Much like what I do
            do happens "behind the scene". I work best when I
            can work in silence without getting the feeling
            other control me at every point.
            <br> <br>
            When it comes to my creative
            input I am in roughly the same situation. I have pretty good 
            ideas and have proven that I can be a very committed technologist,
            but it takes me some effort to make my input candid
            to share. That is why I am currently working on making myself more confident
            to stand up to my achievements.
            </p>
        </div>

        <div class="mySlides">
            <h1> What can I do? </h1>
            <p>
            I've been programming for a while. With an MBO diploma
            in my pocket I am familiar with the basics of Javascript, PHP, HTML, CSS,
            and a little bit of C#. My knowledge was still quite stuck at that point,
            building websites and nothing else.
            <br> <br>
            During my HBO
            I got further acquainted with Javascript and PHP to a higher level,
            but I also became aware of the rules and conventions surrounding neat
            coding and making everything work efficiently. Besides this I have
            also got a little bit of experience with Laravel. Also I
            broadened my horizons with what I could make.
            <br> <br>
            During MBO I mainly focused on simple websites with the occasional
            database attached to it, now I have learned to work with REACT,
            APIs, Node.js, and Typescript.
            <br> <br>
            My creative work process could use some work
            work, but I am confident that there are more good parts to it, than bad ones.
                I like to do good research and am
                not easily satisfied until I have clear data. I also
                don't like to jump to conclusions and I prefer to 
                take longer to arrive at good insights. Desk research is
                therefore something that I enjoy working on. I am also familiar with
                multiple creative sessions and I am a relatively creative person.
            </p>

        </div>
    

    
        <div class="mySlides">
            <h1> What do I want to learn? </h1>
            <p>
            It may sound cliché, but what I mainly want is to learn
            from an internship is how working in a real company is like.
            I did an internship twice during my MBO, but unfortunately, at 
            the time, I hadn't been very careful with selecting internship
            companies, and I ended up at less professional, less enjoyable companies.
            <br> <br>
            I am also curious about what I could be able to do if I had the space
            to fully express myself. During projects I quickly feel
            that my work must meet a certain standard, or that
            certain things are necessary. I look forward to a place that will
            give more freedom but also introduce me to completely
            new techniques. Because HBO is accessible to people without programming
            knowledge, I occasionally get the feeling that a lot is going back to basics for me.
            Although this is not bad, I only recently get the feeling that
            I work on things that really blow my mind.
            <br> <br>
            During my internship I hope that I can develop further on this by getting
            introduced to as many new things as possible, to find a path that I
            want to continue on with my working methods.
            <br> <br>
            And lastly, I just want a to be able to show a little more of
            myself, and dare to show more. During my current
            project I have chosen the entrepreneurial technologist specifically
            to be more confident in what I can do, and an internship would be the ultimate test
            on what I'm training right now.
            </p>
        </div>
    </ul>

</div>

<hr>
<button class="next-slide">Next</button>
<button class="previous-slide">Previous</button>



