<!--
    Folder #1: Personal projects
        Portfolio
    Folder #2: Study projects
        Oh Bees
        I Won't Forget Hue
        Tactical Unicorn
        Introduction Game
    Folder #3: Work/Internships
        De Beren
        IT-Brug
        Chef marketing
        Pixeldeluxe
        VionA
-->

<pre>
    <div class="pre_inset pointer">
        <div class="filePanel">
            <img src="assets/icons/folder-open-32x32.png">
            <p>Past work</p>
            <div class="rainbowLine">
                <div class="red"></div>
                <div class="orange"></div>
                <div class="green"></div>
                <div class="blue"></div>
            </div>
            <div></div>
        </div>
    </div>
</pre>