<!--
    Folder #1: Personal projects
        Portfolio
    Folder #2: Study projects
        Oh Bees
        I Won't Forget Hue
        Tactical Unicorn
        Introduction Game
    Folder #3: Work/Internships
        De Beren
        IT-Brug
        Chef marketing
        Pixeldeluxe
        VionA
-->

<div class="pre">
    <div class="pre_inset pointer fileExplorerGrid">
        <div class="fileInfoPanel">
            <img src="assets/icons/folder-open-32x32.png">
            <p>Past work</p>
            <div class="rainbowLine">
                <div class="red"></div>
                <div class="orange"></div>
                <div class="green"></div>
                <div class="blue"></div>
            </div>
            <div></div>
        </div>

        <div class="folderPanel" data-subject="main">
            <div class="folderIcon mainIcon pointer" data-panel="personal_projects">
                <img src="assets/icons/directory_closed-4.png">
                <label>Personal Projects</label>
            </div>
            <div class="folderIcon mainIcon pointer" data-panel="study_projects">
                <img src="assets/icons/directory_closed-4.png">
                <label>Study projects</label>
            </div>
            <div class="folderIcon mainIcon pointer" data-panel="work/internships">
                <img src="assets/icons/directory_closed-4.png">
                <label>Work/ Internships</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="personal_projects">
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Portfolio</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="study_projects">
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Oh Bees!</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>I Won't Forget Hue</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Tactical Unicorn</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Introduction Game</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="work/internships">
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>De Beren</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>IT_Brug</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Chef marketing</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>Pixeldeluxe</label>
            </div>
            <div class="folderIcon">
                <img src="assets/icons/directory_closed-4.png">
                <label>VionA</label>
            </div>
        </div>
    </div>
</div>