<div class="pre">
    <div class="pre_inset pointer fileExplorerGrid">
        <div class="fileInfoPanel">
            <img src="assets/icons/folder-open-32x32.png">
            <p>Past work</p>
            <div class="rainbowLine">
                <div class="red"></div>
                <div class="orange"></div>
                <div class="green"></div>
                <div class="blue"></div>
            </div>
            <div></div>
        </div>

        <div class="folderPanel" data-subject="main">
            <div class="folderIcon clickableIcon pointer" data-panel="personal_projects">
                <img src="assets/icons/browser/directory_closed.png">
                <label>Personal Projects</label>
            </div>
            <div class="folderIcon clickableIcon pointer" data-panel="study_projects">
                <img src="assets/icons/browser/directory_closed.png">
                <label>Study projects</label>
            </div>
            <div class="folderIcon clickableIcon pointer" data-panel="work_+_internships">
                <img src="assets/icons/browser/directory_closed.png">
                <label>Work + Internships</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="personal_projects">
            <div class="folderIcon" onclick="window.open('/')">
                <img src="assets/icons/windows-0.png">
                <label>Portfolio</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="study_projects">
            <div class="folderIcon" onclick="window.open('https://gamesbumblebee.itch.io/oh-bees')">
                <img src="assets/icons/browser/oh!bees.png">
                <label>Oh Bees!</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://store.steampowered.com/app/2236880/I_Wont_Forget_Hue/?l=dutch')">
                <img src="assets/icons/browser/i_wont_forget_hue.png">
                <label>I Won't Forget Hue</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://joelheezen.github.io/unicorn-game/')">
                <img src="assets/icons/browser/unicorn_gun.png">
                <label>Tactical Unicorn</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://joelheezen.github.io/introductiegame/')">
                <img src="assets/icons/browser/intro.png">
                <label>Introduction Game</label>
            </div>
        </div>

        <div class="folderPanel d-none" data-subject="work_+_internships">
            <div class="folderIcon" onclick="window.open('https://www.facebook.com/ITBrug/')">
                <img src="assets/icons/browser/smartcirculair_challenge_logo.jfif">
                <label>IT_Brug</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://nl.linkedin.com/company/chef-marketing')">
                <img src="assets/icons/browser/chef_marketing_logo.jfif">
                <label>Chef marketing</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://www.pixeldeluxe.nl')">
                <img src="assets/icons/browser/pixeldeluxe.png">
                <label>Pixeldeluxe</label>
            </div>
            <div class="folderIcon" onclick="window.open('https://en.viona.nl')">
                <img src="assets/icons/browser/viona.png">
                <label>VionA</label>
            </div>
        </div>
    </div>
</div>