
<pre>
    <div class="pre_inset">
        <img 
        class="browser_screen" 
        data-url="https://www.linkedin.com/in/tom-faust-66516ba6/"
        data-subject="linkedin" 
        src="assets/social_media/screencapture-linkedin-in-tom-faust-66516ba6-2023-10-25-21_20_50.png">

        <img 
        class="browser_screen d-none" 
        data-url="https://github.com/TomFaust/"
        data-subject="github" 
        src="assets/social_media/screencapture-github-TomFaust-2023-10-25-21_19_41.png">
        
        <img 
        class="browser_screen d-none" 
        data-subject="facebook"
        data-url="https://www.facebook.com/tom.faust.1656/"
        src="assets/social_media/screencapture-facebook-tom-faust-1656-2023-10-25-21_23_02.png">

        <img 
        class="browser_screen d-none" 
        data-url="https://www.instagram.com/tom_sage_faust/" 
        data-subject="instagram" 
        src="assets/social_media/screencapture-instagram-tom-sage-faust-2023-10-25-21_21_52.png">
    </div>
</pre>
