<hr>
<div class="content">
    <div class="sidebar">
        <div>
            <menu role="tablist" class="multirows">
                <li role="tab"><a href="#tabs">Coding</a></li>
                <li role="tab"><a href="#tabs">Personal</a></li>
                <li role="tab"><a href="#tabs">Work</a></li>
            </menu>
        </div>
        
        <div class="window" role="tabpanel">
            <ul class="tree-view">
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">PHP</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">HTML</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Javascript</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">CSS</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">C#</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Laravel</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Craft CMS</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Wordpress</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Python</a></li>
            </ul>
            <ul class="tree-view">
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Personality</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Hobbies</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Collection</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Pet</a></li>
            </ul>
            <ul class="tree-view">
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">IT-Bridge</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Chefmarketing</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">Pixeldeluxe</a></li>
                <li><a href="#" class="contantGroup pointer"><img src="assets/icons/network_cool_two_pcs-0.png">VionA</a></li>
            </ul>
        </div>
    </div>

    <div class="devider">
        
    </div>

    <div class="main sunken-panel">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
    </div>
</div>