<div>
    <menu role="tablist" class="multirows">
        <li role="tab"><a href="#tabs">General</a></li>
        <li role="tab"><a href="#tabs">Work philosophy</a></li>
        <li role="tab"><a href="#tabs">Hobbies</a></li>
    </menu>
    <menu role="tablist" class="multirows">
        <li role="tab"><a href="#tabs">Work experience</a></li>
        <li role="tab"><a href="#tabs">Coding languages</a></li>
    </menu>
</div>


<div class="window" role="tabpanel">
<div class="window-body">1</div>
<div class="window-body">2</div>
<div class="window-body">3</div>
<div class="window-body">4</div>
<div class="window-body">5</div>
</div>