<div class="window displayWindow">
    <div class="title-bar">
        <div class="title-bar-text">
            <img class="title-bar-icon" src="assets/icons/internet_explorer.png">
        </div>
        <div class="title-bar-controls">
            <button class="controls-minimize" aria-label="Minimize">
            </button>
            <button class="controls-close" aria-label="Close">
            </button>
        </div>
    </div>
    <div class="window-options">
        <img class="title-bar-icon" src="assets/icons/internet_explorer.png">
    </div>
    <div class="windowArea">

    </div>
</div>